<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ppp.sunmit2vicescreen" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <receiver android:name=".receiver.MyBroadCastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sunmi.hcservice" />
                <action android:name="com.sunmi.hcservice.status" />
            </intent-filter>
        </receiver>
    </application>
</manifest>